#homeBox{
    -fx-background-color:RED;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
}
#t1{
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 100;
    -fx-font-style: italic;
    -fx-font-weight: bold;


}
#gameBox{
    -fx-background-color:#355E3B;
}
#root{
    -fx-background-image: url("images/baccarattable.jpeg");
    -fx-background-size: cover;

}
.button:chips{
    -fx-text-fill: WHITE;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
    -fx-background-radius: 5em;
    -fx-min-width: 75px;
    -fx-min-height: 75px;
    -fx-max-width: 75px;
    -fx-max-height: 75px;
    -fx-font-weight: bold;

}
.button:playButtons{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 5, 0.0 , 3, 3 );
    -fx-text-fill: WHITE;
    -fx-background-radius: 5em;
    -fx-min-width: 130px;
    -fx-min-height: 130px;
    -fx-max-width: 130px;
    -fx-max-height: 130px;
    -fx-font-weight: bold;
}
#rebet{
    -fx-background-color: BLUE;

}
#clearBet{
    -fx-background-color: RED ;

}
#deal{
    -fx-background-color: #7CFC00;

}
#chip_100K{
    -fx-background-image: url("images/chips/black.png");
    -fx-background-size: cover;
}
#chip_50K{
    -fx-background-image: url("images/chips/green.png");
    -fx-background-size: cover;
}
#chip_40K{
    -fx-background-image: url("images/chips/blue.png");
    -fx-background-size: cover;
}

#chip_20K{
    -fx-background-image: url("images/chips/purple.png");
    -fx-background-size: cover;
}
#chip_10K{
    -fx-background-image: url("images/chips/red.png");
    -fx-background-size: cover;
}
#player, #banker{
    -fx-font-size: 20;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}
#stageHeader, #chips, #controls, #stageFooter{
  -fx-padding: 50;
}

#gamePgHeader{
    -fx-padding: 10;
}
#Count{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#message{

    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-control-inner-background:#355E3B;
     -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
     -fx-highlight-text-fill: #000000;
     -fx-text-fill: #00ff00;


}
#message *.text {
    -fx-text-alignment: center;
}
#scores{
    -fx-font-color: GOLD;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 40;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}
#additionsGreater{

    -fx-font-size: 15;

}
#bets{
    -fx-font-weight: bold;
    -fx-font-size: 20;

}



